artis.h5 filter=lfs diff=lfs merge=lfs -text
w7.h5 filter=lfs diff=lfs merge=lfs -text
at.h5 filter=lfs diff=lfs merge=lfs -text
atom_data/kurucz_atom_chianti_many.h5 filter=lfs diff=lfs merge=lfs -text
atom_data/kurucz_cd23_chianti_H_He.h5 filter=lfs diff=lfs merge=lfs -text
